.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	background: #41A6D6;
	overflow: hidden;
	position: relative;
	color: #eaf3f7;

	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		position: absolute;
		bottom: 10vh;

		.title {
			font-size: 18px;
			margin-bottom: 15px;
			will-change: opacity;
		}

		.stories {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0px 15px 15px;
			border-radius: 10px;

			.story {
				min-width: 250px;
				text-align: center;
				padding: 10px 0px;
				margin-top: 15px;
				position: relative;
				will-change: transform, opacity;
				cursor: pointer;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;
					border: solid 1px transparent;
					border-radius: 30px;
					z-index: -1;
					transition: border 0.2s linear;
				}

				&:hover::after {
					border: 1px solid black;
				}

			}

		}
	}

	.card {
		position: absolute;
  	border-radius: 5px;
  	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
		will-change: transform;

		width: 30vh;
		height: 30vh;

		@media screen and (max-width: 670px) {
				width: 18vh;
				height: 18vh;
		}

	}

}